{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}menu.userManagement.title{% endtrans %}{% endblock %}

{% block sidenav %}
    {% include "includes/sidebarUserGroup.html.twig" with {"showAllUsers": "active"} %}
{% endblock %}

{% block content %}
    {% include 'includes/showFlashes.html.twig' %}
    <h3>Such Optionen</h3>
    <div class="col-sm-6" data-step="2" data-intro="{% trans %}IntroJS.showAll.search{% endtrans %}">
        {% if peopleSearchForm is defined %}
            {% form_theme peopleSearchForm 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form_start(peopleSearchForm) }}
            {{ form_end(peopleSearchForm) }}
        {% endif %}
    </div>
    <table id="allUserTable" class="table table-striped tablesorter table-responsive" data-step="1" data-intro="{% trans %}IntroJS.showAll.welcome{% endtrans %}">
        <thead class="">
        <tr>
            <th class="filter-false">
                Nr
            </th>
            <th data-step="3" data-intro="{% trans %}IntroJS.showAll.username{% endtrans %}">
                {% trans %}general.username{% endtrans %}
            </th>
            <th class="filter-select filter-exact" data-placeholder="Stamm" data-step="4" data-intro="{% trans %}IntroJS.showAll.stamm{% endtrans %}">
                {% trans %}general.stamm{% endtrans %}
            </th>
            <th class="limitBigTableColumn">
                DN
            </th>
            <th class="filter-false" data-step="5" data-intro="{% trans %}IntroJS.showAll.delete{% endtrans %}">
                {% trans %}general.delete{% endtrans %}
            </th>
        </tr>
        </thead>
        <tbody data-step="6" data-intro="{% trans %}IntroJS.showAll.table{% endtrans %}">
        {% for user in users %}
            <tr>
                <td>
                    {{ loop.index}}
                </td>
                <td>
                    <a href="{{ path('detailUser', {'uid': user.getUid}) }}">{{ user.getUsername}}</a>
                </td>
                <td>
                    {{user.getStamm}}
                </td>
                <td class="limitBigTableColumn">
                    {{user.getDn}}
                </td>
                <td>
                    {% include  'includes/removeUserButtonWithConfirmDialog.html.twig' with {"user":user} %}

                </td>
            </tr>
        {% endfor %}
        </tbody>

        {% include 'includes/tablesorterFooter.html.twig' with {'NumberOfColumns': '5'} only %}
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tablesorter.js') }}"></script>

{% endblock %}
