{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}Group.detail.title{% endtrans %}{% endblock %}

{% block sidenav %}
    {% include "includes/sidebarUserGroup.html.twig" with {"showAllGroups": "active"} %}
{% endblock %}

{% block content %}
    {% include 'includes/showFlashes.html.twig' %}
    <h2>{% trans %}general.group{% endtrans %}</h2>

    <div class="col-sm-4">
        <h5>Füge eine neue Member hinzu</h5>
        {%
            form_theme addMemberForm 'bootstrap_4_horizontal_layout.html.twig'
        %}
        {{ form(addMemberForm) }}
    </div>

    <div class="col-sm-8">
        <table class="table table-striped">
            <thead class="">
            <tr>
                <th>
                    {% trans %}general.name{% endtrans %}
                </th>
                <th>
                    {% trans %}general.value{% endtrans %}
                </th>
                <th>
                    {% trans %}general.delete{% endtrans %}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    {% trans %}general.name{% endtrans %}
                </th>
                <td>
                    {{group.cn}}
                </td>
                <td>
                    -
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}general.gid{% endtrans %}
                </th>
                <td>
                    {{group.gidNumber}}
                </td>
                <td>
                    -
                </td>
            </tr>
            {% for member in group.memberUserObjects %}
                <tr>
                    <th>
                        {% trans %}general.member{% endtrans %}
                    </th>
                    <td>
                        {{member.givenName}}
                    </td>
                    <td>
                        <button class="btn btn-danger" uid="{{ member.uid }}" group_cn="{{ group.cn }}" data-href="{{ path("deleteGroupmember", {uid: member.uid, group_cn: group.cn}) }}" data-toggle="modal" data-target="#confirm-delete">
                            {% trans %}general.delete{% endtrans %}
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Löschen!?
                </div>
                <div class="modal-body">
                    Willst du wirklich den User <span id="uid"></span> aus der Gruppe <span id="group_cn"></span> löschen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">{% trans %}general.delete{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/showDetailGroup.js') }}"></script>

{% endblock %}
