{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}Group.detail.title{% endtrans %}{% endblock %}

{% block sidenav %}
    {% include "includes/sidebarUserGroup.html.twig" with {"showAllGroups": "active"} %}
{% endblock %}

{% block content %}
    {% include 'includes/showFlashes.html.twig' %}
    <h2>{% trans %}general.group{% endtrans %}</h2>
    <div class="col-sm-8">
        <table class="table table-striped">
            <thead class="">
            <tr>
                <th>
                    {% trans %}general.name{% endtrans %}
                </th>
                <th>
                    {% trans %}general.value{% endtrans %}
                </th>
                <th>
                    {% trans %}general.delete{% endtrans %}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    {% trans %}general.name{% endtrans %}
                </th>
                <td>
                    {{group.cn}}
                </td>
                <td>
                    -
                </td>
            </tr>
            <tr>
                <th>
                    {% trans %}general.gid{% endtrans %}
                </th>
                <td>
                    {{group.gidNumber}}
                </td>
                <td>
                    -
                </td>
            </tr>
            {% for member in group.memberUserObjects %}
                <tr>
                    <th>
                        {% trans %}general.member{% endtrans %}
                    </th>
                    <td>
                        {{member.givenName}}
                    </td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/teamDetails.js') }}"></script>

{% endblock %}
