{% extends "includes/base.html.twig" %}

{% block title %}Alle Gruppen{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'includes/navbar.html.twig' %}
    <div class="container">
        <br><br>
    {% include 'includes/showFlashes.html.twig' %}
    <h2>{% trans %}Group.showAll.myGroups{% endtrans %}</h2>
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    {% trans %}general.nr{% endtrans %}
                </th>
                <th>
                    {% trans %}general.gid{% endtrans %}
                </th>
                <th>
                    {% trans %}general.name{% endtrans %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>
                        {{ loop.index}}
                    </td>
                    <td>
                        {{group.gidNumber}}
                    </td>
                    <td>
                        <a href="{{ path('showDetailGroup', {'groupCn': group.cn}) }}">{{group.name}}</a>
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
