{% extends "includes/base.html.twig" %}

{% block title %}Alle Gruppen{% endblock %}

{% block sidenav %}
    {% include "includes/sidebarUserGroup.html.twig" with {"showAllGroups": "active"} %}
{% endblock %}

{% block content %}
    {% include 'includes/showFlashes.html.twig' %}
    <h2>{% trans %}Group.showAll.myGroups{% endtrans %}</h2>
    <div class="col-sm-6">
        <table class="table table-striped tablesorter table-responsive">
            <thead class="">
            <tr>
                <th class="filter-false">
                    {% trans %}general.nr{% endtrans %}
                </th>
                <th>
                    {% trans %}general.gid{% endtrans %}
                </th>
                <th>
                    {% trans %}general.name{% endtrans %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>
                        {{ loop.index}}
                    </td>
                    <td>
                        {{group.gidNumber}}
                    </td>
                    <td>
                        <a href="{{ path('showDetailGroup', {'groupCn': group.cn}) }}">{{group.name}}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            {% include 'includes/tablesorterFooter.html.twig' with {'NumberOfColumns': '3'} only %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tablesorter.js') }}"></script>

{% endblock %}
