{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}Event.attendInvitationLink.title{% endtrans %} {{ event.getName }}{% endblock %}

{% form_theme registrationAttendInvitationLink 'bootstrap_4_horizontal_layout.html.twig' %}
{% block body %}
    <h1>{% trans %}Event.attendInvitationLink.title{% endtrans %} {{ event.getName }}</h1>

    <h2>{% trans %}Event.attendInvitationLink.information{% endtrans %}</h2>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>{% trans %}Event.attendInvitationLink.name{% endtrans %}</td>
            <td>{{ event.getName }}</td>
        </tr>
        <tr>
            <td>{% trans %}Event.attendInvitationLink.description{% endtrans %}</td>
            <td>{{ event.getDescription }}</td>
        </tr>
        <tr>
            <td>{% trans %}Event.attendInvitationLink.datetime{% endtrans %}</td>
            <td>{{ event.getDateFromToAsString }}</td>
        </tr>
        <tr>
            <td>{% trans %}Event.attendInvitationLink.price{% endtrans %}</td>
            <td>{{ event.getPriceInEuroWithEuroCharacter }}</td>
        </tr>
        </tbody>
    </table>

    <h2>{% trans %}Event.attendInvitationLink.registration{% endtrans %}</h2>
    {#
    {{ form_start(registrationAttendInvitationLink) }}
    {{ form_widget(registrationAttendInvitationLink) }}
    {{ form_end(registrationAttendInvitationLink) }}
    #}
    {{ form_start(registrationAttendInvitationLink) }}
    <div id="form">
        <div class="form-group row">
            <label class="col-form-label col-md-2 form-control-label required">{% trans %}general.firstLastName{% endtrans %}:</label>
            <div class="col-md-5">
                {{ form_widget(registrationAttendInvitationLink.firstname) }}
            </div>
            <div class="col-md-5">
                {{ form_widget(registrationAttendInvitationLink.lastname) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 form-control-label required">{% trans %}general.streetAddressNr{% endtrans %}:</label>
            <div class="col-md-8">
                {{ form_widget(registrationAttendInvitationLink.address_street) }}
            </div>
            <div class="col-md-2">
                {{ form_widget(registrationAttendInvitationLink.address_nr) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 form-control-label required">{% trans %}general.postalCodePlace{% endtrans %}:</label>
            <div class="col-md-2">
                {{ form_widget(registrationAttendInvitationLink.address_plz) }}
            </div>
            <div class="col-md-8">
                {{ form_widget(registrationAttendInvitationLink.address_city) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 form-control-label required">{% trans %}general.stamm{% endtrans %}:</label>
            <div class="col-md-10">
                {{ form_widget(registrationAttendInvitationLink.stamm) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 form-control-label required">{% trans %}general.group{% endtrans %}:</label>
            <div class="col-md-10">
                {{ form_widget(registrationAttendInvitationLink.group) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 form-control-label required">{% trans %}general.comment{% endtrans %}:</label>
            <div class="col-md-10">
                {{ form_widget(registrationAttendInvitationLink.comment) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-2 form-control-label required">&nbsp;</label>
            <div class="col-md-10">
                {{ form_widget(registrationAttendInvitationLink.save) }}
            </div>
        </div>
    </div>
    {{ form_widget(registrationAttendInvitationLink) }} {# _token #}
    {{ form_end(registrationAttendInvitationLink) }}
{% endblock %}
