{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}menu.eventManagement.title{% endtrans %}{% endblock %}

{% block body %}
    {% include 'includes/navbar.html.twig' %}
    <div class="container">
        <br><br>
        {% include 'includes/showFlashes.html.twig' %}

        <table class="table table-striped tablesorter table-responsive">
            <thead>
            <tr>
                <th class="filter-false">Nr</th>
                <th>{% trans %}general.date{% endtrans %}</th>
                {% if "name" in showParticipationFields %}
                    <th>{% trans %}general.name{% endtrans %}</th>
                {% endif %}
                {% if "email" in showParticipationFields %}
                    <th>{% trans %}general.mail{% endtrans %}</th>
                {% endif %}
                {% if "address" in showParticipationFields %}
                    <th>{% trans %}general.address{% endtrans %}</th>
                {% endif %}
                {% if "stamm" in showParticipationFields %}
                    <th>{% trans %}general.stamm{% endtrans %}</th>
                {% endif %}
                {% if "group" in showParticipationFields %}
                    <th>{% trans %}general.group{% endtrans %}</th>
                {% endif %}
                {% if "eat" in showParticipationFields %}
                    <th>{% trans %}general.pig{% endtrans %}</th>
                    <th>{% trans %}general.vegi{% endtrans %}</th>
                    <th>{% trans %}general.vega{% endtrans %}</th>
                {% endif %}
                {% if "comment" in showParticipationFields %}
                    <th>{% trans %}general.comment{% endtrans %}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for participation in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ participation.datetimeRegistrationAsString }}</td>
                    {% if "name" in showParticipationFields %}
                        <td>{{ participation.firstname }} {{ participation.lastname }}</td>
                    {% endif %}
                    {% if "email" in showParticipationFields %}
                        <td>{{ participation.email }}</td>
                    {% endif %}
                    {% if "address" in showParticipationFields %}
                        <td>{{ participation.addressStreet }} {{ participation.addressNr }},<br>
                            {{ participation.addressPlz }} {{ participation.addressCity }}</td>
                    {% endif %}
                    {% if "stamm" in showParticipationFields %}
                        <td>{{ participation.stamm }}</td>
                    {% endif %}
                    {% if "group" in showParticipationFields %}
                        <td>{{ participation.group }}</td>
                    {% endif %}
                    {% if "eat" in showParticipationFields %}
                        <td>{{ participation.pigAsString }}</td>
                        <td>{{ participation.vegiAsString }}</td>
                        <td>{{ participation.vegaAsString }}</td>
                    {% endif %}
                    {% if "comment" in showParticipationFields %}
                        <td>{{ participation.comment }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

            {% include 'includes/tablesorterFooter.html.twig' with {'NumberOfColumns': NumberOfColumns} %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tablesorter.js') }}"></script>
{% endblock %}
