{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}menu.eventManagement.title{% endtrans %}{% endblock %}

{% block sidenav %}
    {% include "includes/sidebarEvent.html.twig" with {"showAllEvents": "active"} %}
{% endblock %}

{% block content %}
    {% include 'includes/showFlashes.html.twig' %}
    <table class="table table-striped tablesorter table-responsive">
        <thead class="">
        <tr>
            <th class="filter-false">
                Nr
            </th>
            <th>
                {% trans %}general.name{% endtrans %}
            </th>
            <th>
                {% trans %}general.description{% endtrans %}
            </th>
            <th>
                {% trans %}general.price{% endtrans %}
            </th>
            <th>
                {% trans %}general.date{% endtrans %}
            </th>
            <th>
                {% trans %}general.place{% endtrans %}
            </th>
            <th class="filter-false">
                &nbsp;
            </th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>
                    {{ loop.index}}
                </td>
                <td>
                    <a href="{{ path('detailEvent', {'id': event.getId}) }}">{{ event.getName}}</a>
                </td>
                <td>
                    {{event.getDescription}}
                </td>
                <td>
                    {{event.getPriceInEuroWithEuroCharacter}}
                </td>
                <td>
                    {{event.getDateFromToAsString}}
                </td>
                <td>
                    {{event.getPlace}}
                </td>
                <td>
                    Bearbeiten / Löschen (folgt)

                </td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <th colspan="7" class="ts-pager">
                <div class="form-inline">
                    <div class="btn-group btn-group-sm mx-1" role="group">
                        <button type="button" class="btn btn-secondary first" title="first">⇤</button>
                        <button type="button" class="btn btn-secondary prev" title="previous">←</button>
                    </div>
                    <span class="pagedisplay"></span>
                    <div class="btn-group btn-group-sm mx-1" role="group">
                        <button type="button" class="btn btn-secondary next" title="next">→</button>
                        <button type="button" class="btn btn-secondary last" title="last">⇥</button>
                    </div>
                    <select class="form-control-sm custom-select px-1 pagesize" title="Select page size">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="all">All Rows</option>
                    </select>
                    <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="Select page number"></select>
                </div>
            </th>
        </tr>
        </tfoot>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tablesorter.js') }}"></script>

{% endblock %}
