{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}menu.eventManagement.title{% endtrans %}{% endblock %}

{% block body %}
    {% include 'includes/navbar.html.twig' %}
    <div class="container">
        <br><br>
        {% include 'includes/showFlashes.html.twig' %}
        <table class="table table-striped">
            <thead class="">
            <tr>
                <th>
                    Nr
                </th>
                <th>
                    {% trans %}general.name{% endtrans %}
                </th>
                <th>
                    {% trans %}general.description{% endtrans %}
                </th>
                <th>
                    {% trans %}general.price{% endtrans %}
                </th>
                <th>
                    {% trans %}general.date{% endtrans %}
                </th>
                <th>
                    {% trans %}general.place{% endtrans %}
                </th>
                <th>
                    {% trans %}Event.showAll.invitationLink{% endtrans %}
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        <a href="{{ path('detailEvent', {'id': event.getId}) }}">{{ event.getName}}</a>
                    </td>
                    <td>
                        {{ event.getDescription }}
                    </td>
                    <td>
                        {{ event.getPriceInEuroWithEuroCharacter }}
                    </td>
                    <td>
                        {{ event.getDateFromToAsString }}
                    </td>
                    <td>
                        {{ event.getPlace }}
                    </td>
                    <td>
                        {% if event.getInvitationLink==NULL %}
                            <a href="/events/invitationLink/generate/{{ event.getId }}">GENERIEREN</a>
                        {% else %}
                            <a href="/events/attend/{{ event.getInvitationLink }}">Link für Teilnehmer</a>
                        {% endif %}
                    </td>
                    <td>
                        Bearbeiten / Löschen (folgt)

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
