<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% trans %}general.welcome{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}


        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Intro JS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css" integrity="sha256-/oZ7h/Jkj6AfibN/zTWrCoba0L+QhP9Tf/ZSgyZJCnY=" crossorigin="anonymous" />

        <!-- Awesome Font -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        <!-- Tablesorter theme -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.0/css/theme.bootstrap_4.min.css" integrity="sha256-XNaQ6CZvDJ0+k/frCzdkIyDhLedZXo1a9SswYdq8bj4=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.0/css/jquery.tablesorter.pager.min.css" integrity="sha256-x+whz5gQKEXx3S3pxwmxPhC1OWpRiHaPXUW5Yt8/fzg=" crossorigin="anonymous" />

        <!-- Feedback -->
        <link rel="stylesheet" href="{{ asset('css/feedback.css') }}">

        <!-- Imageviewer -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/imageviewer/0.5.1/viewer.min.css" integrity="sha256-6NuwtCUS3Hn1o3GiXOJ51yYqj7A245aYW/Vu+Xeyp2M=" crossorigin="anonymous" />

        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('logo/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('logo/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('logo/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('logo/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('logo/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('logo/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('logo/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('logo/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('logo/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('logo/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('logo/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('logo/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('logo/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('logo/manifest.json') }}">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('logo/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    </head>
    <body>
        {# Navbar #}
        {% block navbar %}{% include 'includes/navbar.html.twig' %}{% endblock %}
        <div class="container-fluid {% block containerCssClass %}{% endblock %}">
            {% block body %}
            {# Layouttemplate with sidebar #}
            <div class="row row-offcanvas row-offcanvas-right">
                    <nav class="col-6 col-lg-2 d-none d-block bg-light sidebar sidebar-offcanvas" id="sidebar">
                        {% block sidenav %}{% endblock %}
                    </nav>
                    <div class="col-12 col-lg-10" style="min-height: 100vh; padding-top: 4rem;">
                        <p class="d-lg-none">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">{% trans %}menu.toogleNav{% endtrans %}</button>
                        </p>
                        {% block content %}{% endblock %}
                        <hr>

                        <footer>
                            {% include "includes/footer.html.twig" %}
                        </footer>
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block javascripts %}

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

            <!-- Intro JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js" integrity="sha256-fOPHmaamqkHPv4QYGxkiSKm7O/3GAJ4554pQXYleoLo=" crossorigin="anonymous"></script>

            <!-- Imageviewer -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/imageviewer/0.5.1/viewer.min.js" integrity="sha256-vuRjTzX9oIbqZaluBVQSJsFEE1zQNuMxjLDYe2RCrW0=" crossorigin="anonymous"></script>

            <!-- Re-Captcher -->
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>

            <!-- Tablesorter -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.0/js/jquery.tablesorter.min.js" integrity="sha256-UD/M/6ixbHIPJ/hTwhb9IXbHG2nZSiB97b4BSSAVm6o=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.0/js/jquery.tablesorter.widgets.min.js" integrity="sha256-/3WKCLORjkqCd7cddzHbnXGR31qqys81XQe2khfPvTY=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.0/js/extras/jquery.tablesorter.pager.min.js" integrity="sha256-jkVgfYuH8sw4gTXCDEJMANM9Kf2xZLFWALNiAQ1AyZQ=" crossorigin="anonymous"></script>

            <script src="{{ asset('js/base.js') }}"></script>

            <!-- Feedback -->
            {% include 'includes/feedback.html.twig' %}
        {% endblock %}
    </body>
</html>
