{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}menu.userManagement.addUser{% endtrans %}{% endblock %}

{% block sidenav %}
    {% include "includes/sidebarUserGroup.html.twig" with {"detailUser": "active"} %}
{% endblock %}

{% form_theme changePasswordForm 'bootstrap_4_horizontal_layout.html.twig' %}
{% block content %}
    {% include 'includes/showFlashes.html.twig' %}

    <h2 class="form-signin-heading">Passwort ändern</h2>
    {{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.oldPassword) }}
    {{ form_row(changePasswordForm.newPassword.first) }}
    <div class="form-group row">
        <label class="col-form-label col-sm-2 required" for="form_newPassword_first">Passwortstärke</label>
        <div class="col-sm-10">
            <div class="progress">
                <div id="passwordStrengthBar" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div id="timeToCrack"></div>
        </div>
    </div>
    {{ form_row(changePasswordForm.newPassword.second) }}
    {{ form_end(changePasswordForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/passwordStrengthMeter.js') }}"></script>
    <script>
        $('#passwordStrengthBar').zxcvbnProgress({
            passwordInput: '#form_newPassword_first',
            ideaBox: "#timeToCrack",
            ideaText: "Tipps:",
            userInputs: ["{{ user.uid }}",
                "{{ user.mail }}",
                "{{ user.firstName }}",
                "{{ user.lastName }}",
                "PBNL",
                "Nordlicht",
                "Pfadfinder",
                "Pfadi"]
        });</script>

{% endblock %}
