{% extends "includes/base.html.twig" %}

{% block title %}{% trans %}menu.userManagement.addUser{% endtrans %}{% endblock %}

{% block sidenav %}
    {% include "includes/sidebarUserGroup.html.twig" with {"detailUser": "active"} %}
{% endblock %}

{% form_theme changePasswordForm 'bootstrap_4_horizontal_layout.html.twig' %}
{% block content %}
    {% include 'includes/showFlashes.html.twig' %}

    <h2 class="form-signin-heading">Passwort ändern</h2>
    {{ form_start(changePasswordForm) }}
    {{ form_row(changePasswordForm.oldPassword) }}
    {{ form_row(changePasswordForm.newPassword) }}
    {{ form_end(changePasswordForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/changeUserPassword.js') }}"></script>

{% endblock %}
