{% extends "includes/base.html.twig" %}

{% block title %}Alle Benutzer{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'includes/navbar.html.twig' %}
    <div class="container">
        <br><br>
        {% include 'includes/showFlashes.html.twig' %}
        <h3>Such Optionen</h3>
        <div class="col-sm-6">
            {% if peopleSearchForm is defined %}
                {% form_theme peopleSearchForm 'bootstrap_3_horizontal_layout.html.twig' %}
                {{ form_start(peopleSearchForm) }}
                {{ form_end(peopleSearchForm) }}
            {% endif %}
        </div>
        <table id="allUserTable" class="table table-striped tablesorter">
            <thead>
            <tr>
                <th class="filter-false">
                    Nr
                </th>
                <th>
                    {% trans %}username{% endtrans %}
                </th>
                <th class="filter-select filter-exact" data-placeholder="Stamm">
                    {% trans %}stamm{% endtrans %}
                </th>
                <th>
                    DN
                </th>
                <th class="filter-false">
                    {% trans %}delete{% endtrans %}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {{ loop.index}}
                    </td>
                    <td>
                        <a href="{{ path('detailUser', {'uid': user.getUid}) }}">{{ user.getUsername}}</a>
                    </td>
                    <td>
                        {{user.getStamm}}
                    </td>
                    <td>
                        {{user.getDn}}
                    </td>
                    <td>
                        {% include  'includes/removeUserButtonWithConfirmDialog.html.twig' with {"user":user} %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <th colspan="7" class="ts-pager form-inline">
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-default first"><span class="glyphicon glyphicon-step-backward"></span></button>
                        <button type="button" class="btn btn-default prev"><span class="glyphicon glyphicon-backward"></span></button>
                    </div>
                    <span class="pagedisplay"></span>
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-default next"><span class="glyphicon glyphicon-forward"></span></button>
                        <button type="button" class="btn btn-default last"><span class="glyphicon glyphicon-step-forward"></span></button>
                    </div>
                    <select class="form-control input-sm pagesize" title="Select page size">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="all">All Rows</option>
                    </select>
                    <select class="form-control input-sm pagenum" title="Select page number"></select>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/showAllUsers.js') }}"></script>

{% endblock %}